* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.board {
	--size: 10;

	width: 500px;
	aspect-ratio: 1;

	display: grid;
	grid-template-columns: repeat(var(--size), 1fr);
	grid-template-rows: repeat(var(--size), 1fr);

	> div {
		transition: background-color 1s linear;
		background-color: #eee;

		&.alive {
			background-color: var(--color);
		}

		&.selected {
			border: calc(40px / var(--size)) solid black;
		}
	}
}

form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	max-width: 250px;
	margin: auto;
}
