* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.board {
	--size: 10;
	flex-grow: 0;
	flex-shrink: 0;

	width: 100%;
	aspect-ratio: 1;

	display: grid;
	grid-template-columns: repeat(var(--size), 1fr);
	grid-template-rows: repeat(var(--size), 1fr);

	> div {
		transition: background-color 1s linear;
		background-color: #eee;
		border: 3px solid #eee;

		&.alive {
			background-color: var(--color);
		}

		&.selected {
			border: calc(40px / var(--size)) solid black;
		}
	}
}

form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	max-width: 250px;
	margin: auto;
}

main {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: space-between;
	height: 100vh;
	padding: 5vmin;
}

#info {
	width: 90vmin;
	font-size: 5vmin;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	width: 90vmin;
	height: 10vmin;
	text-transform: uppercase;
	font-family: sans-serif;
	font-weight: bold;

	span {
		vertical-align: middle;
		height: inherit;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		padding: 0 3vmin;
	}

	#player {
		background-color: var(--color);
		color: white;
	}

	#moves {
		background-color: white;
		color: var(--color);
	}
}

button {
	width: 90vmin;
	height: 10vmin;
	background-color: var(--color);
	color: white;
	font-size: 5vmin;
	font-weight: bold;
	text-transform: uppercase;
	border: none;
	box-shadow: 5px 5px #bbb;

	position: relative;
	top: 0;
	left: 0;
	transition: all 0.2s linear;

	&:active {
		top: 5px;
		left: 5px;
		box-shadow: none;
	}

	&:disabled {
		top: 5px;
		left: 5px;
		box-shadow: none;
		background-color: #555;
	}
}
